<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <%   if (message2)      { %>
        <div class="mt-5 mb-3">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%=  message2  %></strong>
            
            <form action="/logout" method="post">
                    <input type="submit" value="Log out"/>
                </div>
            </form>
          </div>
        </div> 
      <% }    %>


      <%   if (info.id)      { %>
      
    <li class="client">
      <div><span><%= info.id %> </span></div> 
       <div><span><%= info.displayName %> </span></div>
      
       <div> <span><%= info.emails[0].value %> </span></div> 
      
    <img src='<%= info.photos[0].value %>' width="100" height="100">
     <div> <span><%= info.photos[0].value %> </span></div> 
    
   
 
     </li>
     <% }    %>
 
    
    <div>Successfull !</div>
    
</body>
</html>